# RPC
rpc-http-enabled=true
graphql-http-enabled=true
rpc-ws-enabled=true
rpc-http-port=4545
graphql-http-port=4547
rpc-ws-port=4546
rpc-http-api=["ETH","NET","IBFT","WEB3"]
## Uncomment the following lines to allow RPC from remote locations (risky)
host-whitelist=["*"]
rpc-http-host="0.0.0.0"
rpc-http-cors-origins=["*"]
graphql-http-host="0.0.0.0"

# Orion
privacy-enabled=true
privacy-url="http://127.0.0.1:4444"
privacy-public-key-file="/root/lacchain/orion/keystore/nodeKey.pub"

# Networking
p2p-host="{{node_ip}}"
p2p-port=60606
bootnodes=["enode://91ca844776cc9bf69cd4eadaeefdf105815b61ec7ba0fef0ab3fc0c954a8af3bfbbdbc9975ca8cd6d1bd366bcd69df2066f2ed17bed4d1c53164d46e94afa03b@35.188.197.198:60606", "enode://c1c9170ace6301fe416b636c0f91816b7a9184c29562b55dfbcbbb48305d6717322c07a1e0d0432b89c1bef468f93963cd94a4ec2d90cd5d53f6e16b3767c328@200.225.100.107:60606"]

# Gas
min-gas-price=0
