# INSTALL
[bootnodes]
# <your node address> node_name=<node name>

[validators]
# <your node address> node_name=<node name>

[writer]
# <your node address> node_ip=<besu_public_ip> password=<orion password> node_name=<node name> node_email=<your@email> dns_name=<your dns> http_proxy=http://example.proxy.com:8080 https_proxy=https://example.proxy.com:8443

# UPDATE
[writer]
# <your node address> node_ip=<besu_public_ip> besu_release_version='1.4.4' orion_release_version='1.5.2'

[writer]
# <your node address> node_ip=<besu_public_ip> besu_release_version='1.4.4' orion_release_version='1.5.2'

[writer]
# <your node address> node_ip=<besu_public_ip> besu_release_version='1.4.4' orion_release_version='1.5.2'

######
## You don't need to touch anything below this point
######

[all:vars]
password=default_password
node_email=default@email
bootnode=false
validator=false
first_node=false
install=false
besu_release_version='1.5.2'
orion_release_version='1.5.2'
dns_name=lacchain.com

[bootnodes:vars]
bootnode=true

[validators:vars]
validator=true
